.box
    .box-body
        table(width="100%").table.table-bordered.table-striped
            thead
                tr
                    th(style="width:80px").text-center.middle-align Foto
                    th.text-center.middle-align Nama Pegawai
                    th.text-center.middle-align NIP
                    th.text-center.middle-align OPD
                    th.text-center.middle-align No. Ponsel
                    th.text-center.middle-align Email
            tbody
                for dp, index in all_pegawai 
                    tr
                        td.text-center.middle-align
                            |   #[img.img-responsive(src=base_url+'images/pegawai/small/'+dp.foto_peg+'.jpg', alt='Foto Pegawai', style='max-width:75px;')]
                        td.text-center.middle-align #{dp.nama_gelar}
                        td.text-center.middle-align #{dp.username}
                        td.text-center.middle-align #{dp.nama_opd}
                        td.text-center.middle-align #{dp.ponsel1}
                        td.text-center.middle-align #{dp.email}
        
    // /.box-body
// /.box