.page-title
    .title-env
        h1.title=title
        p.description=desc
    .breadcrumb-env
        ol.breadcrumb.bc-1
            li
                a(href=base_url)
                    i.fa-home
                    |   Dahsboard
            li
                a(href=base_url+menu) Data
            li.active
                strong=title
.row
    .col-sm-12
        .panel.panel-default
            .panel-heading
                h3.panel-title
                    i.fa-phone
                    |   Data Kontak Penting
                .panel-options
                    a(href='#', data-toggle='panel')
                        span.collapse-icon &ndash;
                        span.expand-icon +
            .panel-body
                .col-sm-12