// Imported styles on this page
link(rel='stylesheet', href='https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css')
link(rel='stylesheet', href='https://cdn.datatables.net/responsive/2.2.1/css/responsive.bootstrap.min.css')
link(rel='stylesheet', href='https://cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css')
link(rel='stylesheet', href=base_url+'adm-assets/css/fonts/meteocons/css/meteocons.css')
link(rel='stylesheet', href=base_url+'adm-assets/css/fonts/elusive/css/elusive.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js')
link(rel='stylesheet', href=base_url+'adm-assets/js/uikit/vendor/codemirror/codemirror.css')
link(rel='stylesheet', href=base_url+'adm-assets/js/uikit/uikit.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/accordion.almost-flat.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css')
// Bottom Scripts
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
script(src=base_url+'adm-assets/js/resizeable.js')
script(src=base_url+'adm-assets/js/joinable.js')
script(src=base_url+'adm-assets/js/xenon-api.js')
script(src=base_url+'adm-assets/js/xenon-toggles.js')
script(src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js')
script(src=base_url+'adm-assets/js/wysihtml5/lib/js/wysihtml5-0.3.0.js')
script(src=base_url+'adm-assets/js/float-panel.js')
script(type='text/javascript', src='https://widget.kominfo.go.id/gpr-widget-kominfo.min.js')
// Imported scripts on this page
script(src=base_url+'adm-assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js')
script(src=base_url+'adm-assets/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js')
script(src=base_url+'adm-assets/js/xenon-widgets.js')
script(src='https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.1/js/responsive.bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/yadcf/0.8.6/jquery.dataTables.yadcf.min.js')
script(src=base_url+'adm-assets/js/datatables/tabletools/dataTables.tableTools.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js')
script(src=base_url+'adm-assets/js/datatables/jszip.min.js')
script(src=base_url+'adm-assets/js/datatables/pdfmake.min.js')
script(src=base_url+'adm-assets/js/datatables/vfs_fonts.js')
script(src=base_url+'adm-assets/js/jquery-validate/jquery.validate.min.js')
script(src=base_url+'adm-assets/js/wysihtml5/src/bootstrap-wysihtml5.js')
script(src=base_url+'adm-assets/js/uikit/vendor/codemirror/codemirror.js')
script(src=base_url+'adm-assets/js/uikit/vendor/marked.js')
script(src=base_url+'adm-assets/js/uikit/js/uikit.min.js')
script(src=base_url+'adm-assets/js/uikit/js/addons/htmleditor.min.js')
script(src=base_url+'adm-assets/js/ckeditor/ckeditor.js')
script(src=base_url+'adm-assets/js/ckeditor/adapters/jquery.js')
script(src=base_url+'adm-assets/js/daterangepicker/daterangepicker.js')
script(src=base_url+'adm-assets/js/datepicker/bootstrap-datepicker.js')
script(src=base_url+'adm-assets/js/timepicker/bootstrap-timepicker.min.js')
script(src=base_url+'adm-assets/js/colorpicker/bootstrap-colorpicker.min.js')
script(src=base_url+'adm-assets/js/select2/select2.min.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
script(src=base_url+'adm-assets/js/selectboxit/jquery.selectBoxIt.min.js')
script(src=base_url+'adm-assets/js/tagsinput/bootstrap-tagsinput.min.js')
script(src=base_url+'adm-assets/js/typeahead.bundle.js')
script(src=base_url+'adm-assets/js/handlebars.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js')
script(src=base_url+'adm-assets/js/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1.js')
script(src=base_url+'adm-assets/js/prettyPhoto/js/jquery.prettyPhoto.js')
script(src=base_url+'adm-assets/js/isotope.pkgd.min.js')
script(src=base_url+'adm-assets/js/toucheffects.js')
// JavaScripts initializations and stuff
script(src=base_url+'adm-assets/js/xenon-custom.js')
script(type='text/javascript').
    $('[data-countdown]').each(function() {
        var $this = $(this), finalDate = $(this).data('countdown');
        $this.countdown(finalDate, function(event) {
        $this.html(event.strftime('%D'));
        });
    });
script(type='text/javascript').
    jQuery(document).ready(function() {
        jQuery("a[rel^='prettyPhoto']").prettyPhoto({
            theme: 'light_square',
            social_tools: false
        });
    });
    // jQuery CarouFredSel
    var caroufredsel = function () {
        jQuery('#siaranpers-caroufredsel').carouFredSel({
            responsive: true,
            scroll: {
                items: 1,
                easing: 'easeInOutQuint',
                pauseOnHover: true
            },
            circular: true,
            infinite: true,
            pauseOnHover: true,
            items: {
                visible: {
                    min: 1,
                    max: 4
                }
            },
            prev: '#tombol-prev',
            next: '#tombol-next',
            auto: {
                play: true
            }
        });
        jQuery('#pengumuman-caroufredsel').carouFredSel({
            responsive: true,
            scroll: {
                items: 1,
                easing: 'easeInOutQuint',
                duration: 1500,
                pauseOnHover: true
            },
            circular: true,
            infinite: true,
            pauseOnHover: true,
            duration: 5000,
            pauseOnHover: true,
            items: {
                visible: {
                    min: 1,
                    max: 1
                }
            },
            prev: '#pengumuman-prev',
            next: '#pengumuman-next',
            auto: {
                play: true
            }
        });
        jQuery('#opdlink-caroufredsel').carouFredSel({
            responsive: true,
            scroll: {
                items: 1,
                easing: 'easeInOutQuint',
                pauseOnHover: true
            },
            circular: true,
            infinite: true,
            pauseOnHover: true,
            items: {
                visible: {
                    min: 1,
                    max: 4
                }
            },
            prev: '#client-prev',
            next: '#client-next',
            auto: {
                play: true
            }
        });
        jQuery('#gallery-caroufredsel').carouFredSel({
            responsive: true,
            scroll: {
                items: 1,
                easing: 'easeInOutQuint',
                pauseOnHover: true
            },
            circular: true,
            infinite: true,
            pauseOnHover: true,
            items: {
                visible: {
                    min: 2,
                    max: 6
                }
            },
            prev: '#gallery-prev',
            next: '#gallery-next',
            auto: {
                play: true
            }
        });
        $('#testimoni-caroufredsel').carouFredSel({
            responsive: true,
            scroll: {
                items: 1,
                easing: 'easeInOutQuint',
                pauseOnHover: true
            },
            circular: true,
            infinite: true,
            pauseOnHover: true,
            scroll: { items:1, duration: 1000},
            items: {
                visible: {
                    min: 1,
                    max: 1
                }
            },
            prev: '#testimonials-prev',
            next: '#testimonials-next',
            auto: {
                play: true
            }
        });
    };
    jQuery(window).load(function () {
        caroufredsel();
    });
    jQuery(window).resize(function () {
        caroufredsel();
    });
    setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);
    // Validation and Ajax action
    $("form#login").validate({
        rules: {
            txtUsername: {
                required: true
            },

            txtPassword: {
                required: true
            }
        },
        messages: {
            txtUsername: {
                required: 'Username Kosong!!!'
            },

            txtPassword: {
                required: 'Password Kosong!!!'
            }
        },
        // Form Processing via AJAX
        submitHandler: function(form)
        {
            show_loading_bar(70); // Fill progress bar to 70% (just a given value)

            var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            $.ajax({
                url: "#{base_url}",
                method: 'POST',
                dataType: 'json',
                data: {
                    txtUsername: $(form).find('#txtUsername').val(),
                    txtPassword: $(form).find('#txtPassword').val()
                },
                success: function(resp)
                {
                    show_loading_bar({
                        delay: .5,
                        pct: 100,
                        finish: function(){
                            toastr.success("Success", opts);
                            window.location.href = '#{base_url}';
                        }
                    });

                },
                error: function (data) {
                    show_loading_bar({
                        delay: .5,
                        pct: 100,
                        finish: function () {
                            if (data.status ==200) {
                                toastr.success("Sedang Proses", opts);
                                window.location.href = '#{base_url}';
                            } else {
                                toastr.error("Gagal", opts);
                            }
                        }
                    });
                }
            });

        }
    });
script(type='text/javascript').
    $(document).ready(function() {
    // Making 2 variable month and day
    var monthNames = [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" ]; 
    var dayNames= ["Minggu","Senin","Selasa","Rabu","Kamis","Jum'at","Sabtu"]

    // make single object
    var newDate = new Date();
    // make current time
    newDate.setDate(newDate.getDate());
    // setting date and time
    $('#Date').html(dayNames[newDate.getDay()] + " " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());

    setInterval( function() {
    // Create a newDate() object and extract the seconds of the current time on the visitor's
    var seconds = new Date().getSeconds();
    // Add a leading zero to seconds value
    $("#sec").html(( seconds < 10 ? "0" : "" ) + seconds);
    },1000);

    setInterval( function() {
    // Create a newDate() object and extract the minutes of the current time on the visitor's
    var minutes = new Date().getMinutes();
    // Add a leading zero to the minutes value
    $("#min").html(( minutes < 10 ? "0" : "" ) + minutes);
    },1000);

    setInterval( function() {
    // Create a newDate() object and extract the hours of the current time on the visitor's
    var hours = new Date().getHours();
    // Add a leading zero to the hours value
    $("#hours").html(( hours < 10 ? "0" : "" ) + hours);
    }, 1000); 
    });