
// Bottom Scripts
script(src=base_url+'adm-assets/js/bootstrap.min.js')
script(src=base_url+'adm-assets/js/TweenMax.min.js')
script(src=base_url+'adm-assets/js/resizeable.js')
script(src=base_url+'adm-assets/js/joinable.js')
script(src=base_url+'adm-assets/js/xenon-api.js')
script(src=base_url+'adm-assets/js/xenon-toggles.js')
script(src=base_url+'adm-assets/js/jquery-validate/jquery.validate.min.js')
script(src=base_url+'adm-assets/js/toastr/toastr.min.js')
// JavaScripts initializations and stuff
script(src=base_url+'adm-assets/js/xenon-custom.js')