h5.subpage-title
    span Sub Domain
    a.btn-xs.btn-flat.flat-danger.pull-right(href=base_url+'data/subdomain')
        span LAINNYA
ul.subdomainList
    for subdomain, index in datasubdomain
        li
            a(href='http://'+subdomain.subdomain+subdomain.prefix, target='_BLANK')
                img.img-responsive.center-block(src=base_url+'images/link-opd/tiny/'+subdomain.logo, alt=subdomain.nama_opd)
                h5=subdomain.nama_subdomain
                small=subdomain.subdomain
                    span=subdomain.prefix