.post.pages-profil
    .row
        .col-sm-5
            #slideshow.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#slideshow', data-slide-to='0')
                    li(data-target='#slideshow', data-slide-to='1')
                    li(data-target='#slideshow', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner
                    .item.active
                        img.img-responsive(src=base_url+'images/pages/logo_pemko.jpg', alt='First slide')
                    .item
                        img.img-responsive(src=base_url+'images/pages/logo_kpk.jpg', alt='Second slide')
                    .item
                        img.img-responsive(src=base_url+'images/pages/ppk/icon-kesehatan.svg', alt='Third slide')
                // Controls
                a.left.carousel-control(href='#slideshow', data-slide='prev')
                    span.fa-chevron-left
                a.right.carousel-control(href='#slideshow', data-slide='next')
                    span.fa-chevron-right
                // /.post-thumb-single
            br.visible-xs
        .col-sm-7
            .post-content
                h5.subpage-title
                    span Rencana Aksi Daerah Pencegahan dan Pemberantasan Korupsi (PPK) Bidang Kesehatan
                p   Dalam upaya pencegahan dan pemberantasan korupsi sebagaimana diamanatkan melalui Peraturan Presiden Nomor 55 Tahun 2012 tentang Stranas PPK Jangka Panjang 2012-2025, pemerintah daerah wajib menyusun rencana Aksi Pencegahan dan pemberantasan korupsi yang diimplementasikan dan dimonitori setiap tahun. Sesuai Instruksi Presiden Nomor 10 Tahun 2016 tentang Aksi Pencegahan dan Pemberantasan Korupsi Tahun 2016 dan Tahun 2017, memerintahkan kepada seluruh Kementerian/Lembaga dan Pemerintah Daerah agar melaksanakan Aksi PPK. Kemudian ditindaklanjuti oleh Menteri Dalam Negeri dengan menerbitkan Surat Edaran Nomor 356/4429/SJ tanggal 21 November 2016 tentang Pedoman Pelaksanaan Aksi Pencegahan dan Pemberantasan Korupsi Pemerintah Daerah Tahun 2016 dan Tahun 2017. Oleh karena itu peran Inspektorat selaku verifikator dan Bapelitbang selaku pemegang username sangat penting guna mencapai peringkat lebih baik di Triwulan berikutnya.
                p   Dalam rangka melaksanakan kewajiban dan tanggungjawab pemerintah sebagaimana tercantum dalam Undang–Undang Dasar Negara Republik Indonesia Tahun 1945 dan Peraturan Presiden Nomor 75 Tahun 2015 Tentang Rencana Aksi Nasional Hak Asasi Manusia Tahun 2015–2019, serta merealisasikan visi dan misi Presiden Republik Indonesia dengan Nawa Cita untuk mengintegrasikan nilai–nilai keadilan, kemanusiaan dan kelompok rentan ke dalam satu rencana aksi nasional yang inklusif. Aksi HAM secara substansial meliputi 10 Hak Dasar yaitu : hak untuk untuk hidup, hak untuk berkeluarga dan melanjutkan keturunan, hak untuk mengembangkan diri, hak untuk memperoleh keadilan, hak atas kebebasan pribadi, hak atas rasa aman, hak atas kesejahteraan, hak untuk turut serta dalam pemerintahan, hak perempuan dan hak anak. Untuk mengimplementasikan Aksi HAM 2017 Pemerintah Pusat melalui Menteri Dalam Negeri menerbitkan Surat Edaran Nomor : 198/1931/SJ Tanggal 21 April 2017 Tentang Pelaksanaan dan Pelaporan Aksi Hak Asasi Manusia Pemerintah Kabupaten/Kota Tahun 2016.
                br
        .col-sm-12
            .post-content
                h5.subpage-title
                    span Data Jamkesda Kota Tanjungpinang Tahun 2018
                script(type='text/javascript').
                    jQuery(document).ready(function($)
                    {
                        $("#table-aksi-daerah").dataTable(
                            {
                            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "Semua"]],
                            dom: "<'row'<'col-md-5 col-xs-12'l><'col-md-7 col-xs-12 hidden-xs'Tf>r>"+
                                    "t"+
                                    "<'row'<'col-md-6 col-xs-12'i><'col-md-6 col-xs-12'p>>",
                            tableTools: {
                                sSwfPath: "./adm-assets/js/datatables/tabletools/copy_csv_xls_pdf.swf"
                            },
                            "deferRender": true,
                            "processing":true,
                            select: true
                        }).yadcf([
                            {column_number : 0, filter_type: 'text'},
                            {column_number : 1, filter_type: 'text'},
                            {column_number : 2},
                            {column_number : 3},
                            {column_number : 
                                4,
                                filter_type: 'text'
                            },
                            {column_number : 5, filter_type: 'text'},
                        ]);
                    });
                table#table-aksi-daerah.table.table-hover.table-responsive
                    thead
                        tr
                            th(width='40px').text-center.hidden-xs Format
                            th.text-center Nama File
                            th.text-center.hidden-xs Jenis Dok.
                            th.text-center.hidden-xs Jenis Inf.
                            th.text-center.hidden-xs Tanggal Dokumen
                            th.text-center.hidden-xs Aksi
                    tbody
                        for dw, index in datadownload
                            tr
                                td.hidden-xs
                                    img.img-responsive.center-block(src=base_url+'adm-assets/images/ico/'+dw.format_file+'.svg')
                                td
                                    table.table.table-condensed
                                        tbody
                                            tr
                                                td(colspan='3')
                                                    a(href=base_url+'data-download/'+dw.link_file).lead=dw.nama_file
                                            tr
                                                td.visible-xs
                                                    |   Deskripsi
                                                td.visible-xs
                                                    |    : 
                                                td.visible-xs=dw.deskripsi_file
                                                td.hidden-xs=dw.deskripsi_file
                                            tr.visible-xs
                                                td
                                                    |   Jenis Dokumen
                                                td
                                                    |    : 
                                                td=dw.jenis_file
                                            tr.visible-xs
                                                td
                                                    |   Jenis Informasi
                                                td
                                                    |    : 
                                                td
                                                    .label.label-secondary=dw.kategori_dip
                                            tr.visible-xs
                                                td
                                                    |   Tanggal Dokumen
                                                td
                                                    |    : 
                                                td=dw.tgl_file
                                            tr.visible-xs
                                                td(colspan='3')
                                                    a.btn.btn-red.btn-xs.btn-icon.btn-icon-standalone.pull-right(href=base_url+'data-download/'+dw.link_file)
                                                        i.fa-download
                                                        span Download Dokumen (.
                                                            =dw.format_file+')'
                                td.hidden-xs.text-center=dw.jenis_file
                                td.hidden-xs.text-center
                                    .label.label-secondary=dw.kat_dip
                                td.hidden-xs.text-center=dw.tgl_file
                                td.hidden-xs.text-center
                                    a.btn.btn-red.btn-sm.btn-icon.btn-icon-standalone(href=base_url+'data-download/'+dw.link_file)
                                        i.fa-download
                                        span Download