h5.subpage-title Berita Populer

ul.recent-posts
    for pop in arBeritaPopuler
        li
            a(href=base_url+'berita/'+pop.link_berita)
                img(src=base_url+'images/berita/thumb/'+pop.gambar, alt=pop.judul_berita)
                h5=pop.judul_berita
                span Terbit : #{pop.tgl_post}