h5.subpage-title
    span Gallery Terbaru
    // Controls
    span#gallery-next.next
        i.fa-chevron-right
    span#gallery-prev.prev
        i.fa-chevron-left
    a.btn-xs.btn-flat.flat-danger.pull-right.geserkanan(href=base_url+'gallery')
        span GALLERY LAINNYA

.row
    #gallery-caroufredsel
        for g in arGallery
            .col-xs-12.col-sm-4.col-md-2.galleryhome-wrapper
                .galleryhome-item
                    .galleryhome-thumb
                        img.img-responsive(src=g.alamat_file_thumb, alt=g.judul_gambar)
                        .image-overlay
                        a.galleryhome-zoom(href=g.alamat_file_big, rel='prettyPhoto[pp_gal_home]')
                            i.fa-eye
                        a.galleryhome-link(href=g.alamat_file_big, target='_BLANK')
                            i.fa-link
                    .galleryhome-content
                        h5=g.judul_gambar
                        span=g.tgl_gambar