.container
    .main-wrapper.search-env
        .row
            .col-md-12
                include mod-search-home
.white-wrapper
    .container
        .row
            .col-md-9
                h5.subpage-title
                    span=berita.judul_berita
                    a.btn-xs.btn-flat.flat-danger.pull-right(href=base_url+'berita')
                        span BERITA LAINNYA
                .post
                    .post-thumb-single
                        img.img-responsive(src=base_url+'images/berita/big/'+berita.gambar, alt=berita.judul_berita)
                        .image-overlay
                        a.post-zoom(href=base_url+'images/berita/big/'+berita.gambar, rel='prettyPhoto[pp_berita_single]')
                            i.fa-eye
                    // /.post-thumb-single
                    .post-content(style='margin-top:20px')
                        p!=berita.isi_berita
                        
                    // /.post-content
                    .post-meta
                        ul.meta-list
                            li
                                span Terbit: 
                                span.black=berita.tgl_terbit
                            li
                                span Kategori:
                                span.black=berita.kategori
                            li
                                span Penulis: 
                                span.black=berita.nama_penulis
                            li
                                a.read-more(href=base_url+'berita')
                                    i.fa-arrow-left 
                                    span  Berita Lainnya
                    // /.post-meta
                    .post-author
                        h5.subpage-title Tentang Penulis
                        .post-author-info
                            .media
                                a.pull-left(href='#')
                                    if berita.foto_peg==null
                                        img.media-object(width='74', height='74', src=base_url+'images/pegawai/small/peg.jpg', alt='User Image')
                                    else
                                        img.media-object(width='74', height='74', src=base_url+'images/pegawai/small/'+berita.foto_peg, alt='User Image')
                                .media-body
                                    h5.media-heading
                                        a(href='#')=berita.nama_penulis
                                        span  - #{berita.nama_opd}
                                    if berita.tentang_peg
                                        |   #{berita.tentang_peg}
                                    else if berita.tentang_peg==null
                                        |   Jujur Bertutur Bijak Bertindak
                // /.article
            .col-md-3
                include mod-sidebar-1