h5.subpage-title
    span Berita Terkini
    a.btn-xs.btn-flat.flat-danger.pull-right(href=base_url+'berita')
        span BERITA LAINNYA
.row
    for berita, index in beritahome
        .col-sm-6
            .post
                .post-thumb
                    img.img-responsive(src=base_url+'images/berita/small/'+berita.gambar, alt='#{berita.judul_berita}')
                    .image-overlay
                    a.post-zoom(href=base_url+'images/berita/big/'+berita.gambar, rel='prettyPhoto[pp_berita_home]')
                        i.fa-eye
                    a.post-link(href=base_url+'berita/'+berita.link_berita)
                        i.fa-link
                // /.post-thumb
                .post-content
                    h4.post-title
                        a(href=base_url+'berita/'+berita.link_berita)=berita.judul_berita
                    p!=berita.isi_berita_ringkas
                        |   ........
                // /.post-content
                .post-meta
                    ul.meta-list
                        li
                            span Terbit: 
                            span.black=berita.tgl_terbit
                        li
                            span.black Umum
                        li
                            a.read-more(href='berita/'+berita.link_berita)
                                span Selengkapnya 
                                i.fa-arrow-right
                // /.post-meta
            // /.article