// Imported styles on this page
link(rel='stylesheet', href=base_url+'v2-assets/css/fonts/meteocons/css/meteocons.css')
link(rel='stylesheet', href=base_url+'v2-assets/css/fonts/elusive/css/elusive.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/wysihtml5/0.3.0/wysihtml5.min.js')
link(rel='stylesheet', href=base_url+'v2-assets/js/uikit/vendor/codemirror/codemirror.css')
link(rel='stylesheet', href=base_url+'v2-assets/js/uikit/uikit.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.5/css/components/accordion.almost-flat.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/2.1.27/daterangepicker.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/css/multi-select.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css')
// Bottom Scripts
script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js')
script(src=base_url+'v2-assets/js/resizeable.js')
script(src=base_url+'v2-assets/js/joinable.js')
script(src=base_url+'v2-assets/js/xenon-api.js')
script(src=base_url+'v2-assets/js/xenon-toggles.js')
script(src=base_url+'v2-assets/js/wysihtml5/lib/js/wysihtml5-0.3.0.js')
script(src=base_url+'v2-assets/js/float-panel.js')
script(type='text/javascript', src='https://widget.kominfo.go.id/gpr-widget-kominfo.min.js')
// Imported scripts on this page
script(src=base_url+'v2-assets/js/jvectormap/jquery-jvectormap-1.2.2.min.js')
script(src=base_url+'v2-assets/js/jvectormap/regions/jquery-jvectormap-world-mill-en.js')
script(src=base_url+'v2-assets/js/xenon-widgets.js')
script(src='https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.2/js/dataTables.responsive.min.js')
script(src='https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js')
script(src='https://cdn.datatables.net/autofill/2.3.2/js/dataTables.autoFill.min.js')
script(src='https://cdn.datatables.net/autofill/2.3.2/js/autoFill.bootstrap.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js')
script(src='https://cdn.datatables.net/buttons/1.5.4/js/buttons.bootstrap.min.js')
script(src='https://cdn.datatables.net/colreorder/1.5.0/js/dataTables.colReorder.min.js')
script(src='https://cdn.datatables.net/fixedcolumns/3.2.5/js/dataTables.fixedColumns.min.js')
script(src='https://cdn.datatables.net/fixedheader/3.1.4/js/dataTables.fixedHeader.min.js')
script(src=base_url+'v2-assets/js/jquery-validate/jquery.validate.min.js')
script(src=base_url+'v2-assets/js/wysihtml5/src/bootstrap-wysihtml5.js')
script(src=base_url+'v2-assets/js/uikit/vendor/codemirror/codemirror.js')
script(src=base_url+'v2-assets/js/uikit/vendor/marked.js')
script(src=base_url+'v2-assets/js/uikit/js/uikit.min.js')
script(src=base_url+'v2-assets/js/uikit/js/addons/htmleditor.min.js')
script(src=base_url+'v2-assets/js/ckeditor/ckeditor.js')
script(src=base_url+'v2-assets/js/ckeditor/adapters/jquery.js')
script(src=base_url+'v2-assets/js/daterangepicker/daterangepicker.js')
script(src=base_url+'v2-assets/js/datepicker/bootstrap-datepicker.js')
script(src=base_url+'v2-assets/js/timepicker/bootstrap-timepicker.min.js')
script(src=base_url+'v2-assets/js/colorpicker/bootstrap-colorpicker.min.js')
script(src=base_url+'v2-assets/js/select2/select2.min.js')
script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
script(src=base_url+'v2-assets/js/selectboxit/jquery.selectBoxIt.min.js')
script(src=base_url+'v2-assets/js/tagsinput/bootstrap-tagsinput.min.js')
script(src=base_url+'v2-assets/js/typeahead.bundle.js')
script(src=base_url+'v2-assets/js/handlebars.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/multi-select/0.9.12/js/jquery.multi-select.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js')
script(src=base_url+'v2-assets/js/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1.js')
script(src=base_url+'v2-assets/js/prettyPhoto/js/jquery.prettyPhoto.js')
script(src=base_url+'v2-assets/js/isotope.pkgd.min.js')
script(src=base_url+'v2-assets/js/toucheffects.js')
// JavaScripts initializations and stuff
script(src=base_url+'v2-assets/js/xenon-custom.js')