// Add "fixed" class to make the sidebar fixed always to the browser viewport.
// Adding class "toggle-others" will keep only one menu item open at a time.
// Adding class "collapsed" collapse sidebar root elements and show only icons.

// Menu
- var logo_besar = base_url+'images/logo_title_w_icon_170.png';
- var logo_kecil = base_url+'images/lambang_30.png';
- var pp = base_url+'images/pegawai/small/'+session.user.foto_peg;
- var link_home =  base_url+'admin';
- var menu_home = 'admin';
- var link_artikel_list = adm_url+'artikel-list';
- var menu_artikel_list = menu_home+'/artikel-list';
- var link_artikel_tulis = adm_url+'artikel-tulis';
- var menu_artikel_tulis = menu_home+'/artikel-tulis';
- var link_artikel_kategori = adm_url+'artikel-kategori';
- var menu_artikel_kategori = menu_home+'/artikel-kategori';
- var link_artikel_komentar = adm_url+'artikel-komentar';
- var menu_artikel_komentar = menu_home+'/artikel-komentar';
- var link_artikel_editor = adm_url+'artikel-editor';
- var menu_artikel_editor = menu_home+'/artikel-editor';
- var link_log_berita = adm_url+'log-berita';
- var menu_log_berita = menu_home+'/log-berita';

.sidebar-menu.toggle-others.fixed
    .sidebar-menu-inner
        header.logo-env
            // logo
            .logo
                a.logo-expanded(href=link_home)
                    img(src=logo_besar, width='170', alt='')
                a.logo-collapsed(href=link_home)
                    img(src=logo_kecil, width='30', alt='')
            // This will toggle the mobile menu and will be visible only on mobile devices
            .mobile-menu-toggle.visible-xs
                a(href='#', data-toggle='user-info-menu')
                    i.fa-bell-o
                    span.badge.badge-success 7
                a(href='#', data-toggle='mobile-menu')
                    i.fa-bars
        // Sidebar User Info Bar - Added in 1.3
        section.sidebar-user-info
            .sidebar-user-info-inner
                a.user-profile(href=base_url+'adm-setting-profile')
                    img.img-circle.img-corona.superadmin(src=pp, alt='user-pic')
                    strong #{session.user.nama_gelar}
                    span #{session.user.hakakses}
                ul.user-links.list-unstyled
                    li.profil-link
                        a(href=base_url+'admin/setting-profile', title='Edit profile')
                            i.linecons-user
                            |   Profil
                    li.pengaturan-link
                        a(href=base_url+'admin/setting-sistem', title='Pengaturan Sistem')
                            i.entypo-cog
                            |   Pengaturan
                    li.logout-link
                        a(href=base_url+'logout', title='Log out')
                            i.fa-power-off
        ul#main-menu.main-menu
            // add class "multiple-expanded" to allow multiple submenus to open
            // class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active"
            li(class=(menu === menu_home ? 'active' : ''))
                a(href=link_home)
                    i.entypo-gauge
                    span.title Dashboard
            li(class=(menu === menu_artikel_list ? ['active','opened'] : ''), class=(menu === menu_artikel_tulis ? ['active','opened'] : ''), class=(menu === menu_artikel_kategori ? ['active','opened'] : ''), class=(menu === menu_artikel_komentar ? ['active','opened'] : ''), class=(menu === menu_artikel_editor ? ['active','opened'] : '')).sidebarArtikel
                    a(href=link_artikel_list)
                        i.entypo-pencil
                        span.title Artikel
                        span.badge.badge-default.pull-right.jumBeritaDraft
                    ul
                        li(class=(menu === menu_artikel_list ? 'active' : ''))
                            a(href=link_artikel_list)
                                i.entypo-list
                                span.title Data Artikel
                                span.badge.badge-default.pull-right.jumBeritaDraft
                        li(class=(menu === menu_artikel_tulis ? 'active' : ''))
                            a(href=link_artikel_tulis)
                                i.entypo-pencil
                                span.title Tulis Artikel
                        li(class=(menu === menu_artikel_kategori ? 'active' : ''))
                            a(href=link_artikel_kategori)
                                i.entypo-tag
                                span.title Kategori
                        li(class=(menu === menu_artikel_komentar ? 'active' : ''))
                            a(href=link_artikel_komentar)
                                i.entypo-comment
                                span.title Komentar Artikel
                        li(class=(menu === menu_artikel_editor ? 'active' : ''))
                            a(href=link_artikel_editor)
                                i.entypo-users
                                span.title Data Editor
            if session.user.id_hakakses == 0
                li(class=(menu === 'adm-halaman-list' ? ['active','opened'] : ''), class=(menu === 'adm-halaman-tulis' ? ['active','opened'] : ''), class=(menu === 'adm-setting-menu' ? ['active','opened'] : '')).sidebarArtikel
                    a(href='#')
                        i.entypo-flow-cascade
                        span.title Halaman
                    ul
                        li(class=(menu === 'adm-halaman-list' ? 'active' : ''))
                            a(href=base_url+'adm-halaman-list')
                                i.entypo-flow-cascade
                                span.title Data Halaman
                        li(class=(menu === 'adm-halaman-tulis' ? 'active' : ''))
                            a(href=base_url+'adm-halaman-tulis')
                                i.entypo-pencil
                                span.title Buat Halaman Baru
                        li(class=(menu === 'adm-setting-menu' ? 'active' : ''))
                            a(href=base_url+'adm-setting-menu')
                                i.entypo-flow-parallel
                                span.title Pengaturan Menu
                li(class=(menu === 'adm-siaran-pers' ? 'active' : ''))
                    a(href=base_url+'adm-siaran-pers')
                        i.entypo-megaphone
                        span.title Siaran Pers
                li(class=(menu === 'adm-kalender-event' ? 'active' : ''))
                    a(href=base_url+'adm-kalender-event')
                        i.entypo-calendar
                        span.title Kalender Event
                li(class=(menu === 'adm-slideshow' ? 'active' : ''))
                    a(href=base_url+'adm-slideshow')
                        i.entypo-monitor
                        span.title Slideshow
                li(class=(menu === 'adm-aduan-list' ? ['active','opened'] : ''), class=(menu === 'adm-aduan-tanggapan' ? ['active','opened'] : ''), class=(menu === 'adm-aduan-kategori' ? ['active','opened'] : ''), class=(menu === 'adm-aduan-operator' ? ['active','opened'] : ''), class=(menu === 'adm-setting-aduan' ? ['active','opened'] : '')).sidebarAduan
                a(href='#')
                    i.entypo-alert
                    span.title Aduan Masyarakat
                    span.badge.badge-danger.pull-right 20
                ul
                    li(class=(menu === 'adm-aduan-list' ? 'active' : ''))
                        a(href=base_url+'adm-aduan-list')
                            i.entypo-list
                            span.title Data Aduan
                            span.badge.badge-danger.pull-right 18
                    li(class=(menu === 'adm-aduan-tanggapan' ? 'active' : ''))
                        a(href=base_url+'adm-aduan-tanggapan')
                            i.entypo-reply
                            span.title Tanggapan
                    li(class=(menu === 'adm-aduan-kategori' ? 'active' : ''))
                        a(href=base_url+'adm-aduan-kategori')
                            i.entypo-tag
                            span.title Kategori Aduan
                    li(class=(menu === 'adm-aduan-operator' ? 'active' : ''))
                        a(href=base_url+'adm-aduan-operator')
                            i.entypo-users
                            span.title Data Operator Aduan
                    li(class=(menu === 'adm-setting-aduan' ? 'active' : ''))
                        a(href=base_url+'adm-setting-aduan')
                            i.entypo-cog
                            span.title Pengaturan Aduan
                li(class=(menu === 'adm-peg-list' ? ['active','opened'] : ''), class=(menu === 'adm-peg-tambah' ? ['active','opened'] : ''), class=(menu === 'adm-peg-mutasi' ? ['active','opened'] : ''), class=(menu === 'adm-unit-kerja' ? ['active','opened'] : ''))
                a(href=base_url+'adm-peg-list')
                    i.entypo-user
                    span.title Kepegawaian
                ul
                    li(class=(menu === 'adm-peg-list' ? 'active' : ''))
                        a(href=base_url+'adm-peg-list')
                            i.entypo-users
                            span.title Data Pegawai
                    li(class=(menu === 'adm-peg-tambah' ? 'active' : ''))
                        a(href=base_url+'adm-peg-tambah')
                            i.entypo-user-add
                            span.title Tambah Pegawai
                    li(class=(menu === 'adm-peg-mutasi' ? 'active' : ''))
                        a(href=base_url+'adm-peg-mutasi')
                            i.entypo-flight
                            span.title Mutasi Pegawai
                    li(class=(menu === 'adm-unit-kerja' ? 'active' : ''))
                        a(href=base_url+'adm-unit-kerja')
                            i.entypo-home
                            span.title Unit Kerja
                li(class=(menu === 'adm-member-list' ? ['active','opened'] : ''), class=(menu === 'adm-member-tambah' ? ['active','opened'] : ''), class=(menu === 'adm-umum-list' ? ['active','opened'] : ''))
                    a(href=base_url+'adm-member-list')
                        i.entypo-users
                        span.title Member
                        span.badge.badge-default.pull-right 1
                    ul
                        li(class=(menu === 'adm-member-list' ? 'active' : ''))
                            a(href=base_url+'adm-member-list')
                                i.entypo-users
                                span.title Data Member Peg.
                        li(class=(menu === 'adm-member-tambah' ? 'active' : ''))
                            a(href=base_url+'adm-member-tambah')
                                i.entypo-user-add
                                span.title Tambah Member Peg.
                        li(class=(menu === 'adm-member-umum-list' ? 'active' : ''))
                            a(href=base_url+'adm-member-umum-list')
                                i.entypo-users
                                span.title Data Member Umum
                                span.badge.badge-default.pull-right 1
                li(class=(menu === 'adm-data-opd' ? ['active','opened'] : ''), class=(menu === 'adm-data-link' ? ['active','opened'] : ''), class=(menu === 'adm-data-kontak-penting' ? ['active','opened'] : ''))
                a(href=base_url+'adm-data-opd')
                    i.entypo-archive
                    span.title Data
                    ul
                        li(class=(menu === 'adm-data-opd' ? 'active' : ''))
                            a(href=base_url+'adm-data-opd')
                                i.fa-institution
                                span.title Data Unit Kerja
                        li(class=(menu === 'adm-data-link' ? 'active' : ''))
                            a(href=base_url+'adm-data-link')
                                i.entypo-link
                                span.title Pranala Luar
                        li(class=(menu === 'adm-data-kontak-penting' ? 'active' : ''))
                            a(href=base_url+'adm-data-kontak-penting')
                                i.fa-phone
                                span.title Kontak Penting
            else if session.user.id_hakakses == 2
                li(class=(menu === 'adm-halaman-list' ? ['active','opened'] : ''), class=(menu === 'adm-halaman-tulis' ? ['active','opened'] : ''), class=(menu === 'adm-setting-menu' ? ['active','opened'] : '')).sidebarArtikel
                    a(href='#')
                        i.entypo-flow-cascade
                        span.title Halaman
                    ul
                        li(class=(menu === 'adm-halaman-list' ? 'active' : ''))
                            a(href=base_url+'adm-halaman-list')
                                i.entypo-flow-cascade
                                span.title Data Halaman
                        li(class=(menu === 'adm-halaman-tulis' ? 'active' : ''))
                            a(href=base_url+'adm-halaman-tulis')
                                i.entypo-pencil
                                span.title Buat Halaman Baru
                        li(class=(menu === 'adm-setting-menu' ? 'active' : ''))
                            a(href=base_url+'adm-setting-menu')
                                i.entypo-flow-parallel
                                span.title Pengaturan Menu
                li(class=(menu === 'adm-siaran-pers' ? 'active' : ''))
                    a(href=base_url+'adm-siaran-pers')
                        i.entypo-megaphone
                        span.title Siaran Pers
                li(class=(menu === 'adm-kalender-event' ? 'active' : ''))
                    a(href=base_url+'adm-kalender-event')
                        i.entypo-calendar
                        span.title Kalender Event
                li(class=(menu === 'adm-slideshow' ? 'active' : ''))
                    a(href=base_url+'adm-slideshow')
                        i.entypo-monitor
                        span.title Slideshow
            else
            li(class=(menu === 'adm-gallery-gambar-list' ? ['active','opened'] : ''), class=(menu === 'adm-gallery-video-list' ? ['active','opened'] : ''))
                a(href=base_url+'adm-gallery-gambar-list')
                    i.entypo-camera
                    span.title Gallery
                ul
                    li(class=(menu === 'adm-gallery-gambar-list' ? 'active' : ''))
                        a(href=base_url+'adm-gallery-gambar-list')
                            i.fa-file-image-o
                            span.title Data Gambar
                    li(class=(menu === 'adm-gallery-video-list' ? 'active' : ''))
                        a(href=base_url+'adm-gallery-video-list')
                            i.fa-video-camera
                            span.title Data Video
            li(class=(menu === 'adm-download-list' ? ['active','opened'] : ''), class=(menu === 'adm-download-kategori' ? ['active','opened'] : ''))
                a(href=base_url+'adm-download-list')
                    i.entypo-archive
                    span.title Download Area
                ul
                    li(class=(menu === 'adm-download-list' ? 'active' : ''))
                        a(href=base_url+'adm-download-list')
                            i.entypo-docs
                            span.title Data File
                    li(class=(menu === 'adm-download-kategori' ? 'active' : ''))
                        a(href=base_url+'adm-download-kategori')
                            i.entypo-folder
                            span.title Kategori File
            li(class=(menu === 'adm-buku-tamu' ? 'active' : ''))
                a(href=base_url+'adm-buku-tamu')
                    i.entypo-book-open
                    span.title Buku Tamu
            li(class=(menu === 'adm-setting-profile' ? ['active','opened'] : ''), class=(menu === 'adm-setting-sistem' ? ['active','opened'] : ''), class=(menu === 'adm-setting-db' ? ['active','opened'] : ''), class=(menu === menu_log_berita ? ['active','opened'] : ''))
                a(href=base_url+'adm-setting-profile')
                    i.entypo-cog
                    span.title Pengaturan
                ul
                    li(class=(menu === 'adm-setting-profile' ? 'active' : ''))
                        a(href=base_url+'adm-setting-profile')
                            i.entypo-users
                            span.title Pengaturan Profil
                    if session.user.id_hakakses == 0
                        li(class=(menu === 'adm-setting-sistem' ? 'active' : ''))
                            a(href=base_url+'adm-setting-sistem')
                                i.entypo-layout
                                span.title Pengaturan Sistem
                        li(class=(menu === 'adm-setting-db' ? 'active' : ''))
                            a(href=base_url+'adm-setting-db')
                                i.entypo-database
                                span.title Backup Database
                    else
                    li(class=(menu ===menu_log_berita ? 'active' : ''))
                        a(href=link_log_berita)
                            i.entypo-alert
                            span.title Log Record
            li.visible-xs
                a(href=base_url+'logout')
                    i.entypo-logout
                    span.title KELUAR